* {
  font-family: "Poppins", sans-serif;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.category-list-item {
  background-color: #ebebeb;
}

.category-list-item:hover {
  background: gray;
  /* color: #ffffff; */
  cursor: pointer;
}

.users-list-item {
  background-color: #ebebeb;
  width: 100%;
}

.transactions-list-item {
  background-color: #ebebeb;
  width: 100%;
}
